<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SampleWebview.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7F64D374221F9AA7008B4F93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F64D388221F9AA9008B4F93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F64D393221F9AA9008B4F93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
